@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown > * {
  all: revert;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #374151; /* Gray color */
  border-radius: 4px;
}

.text-unselectable {
  user-select: none; /*For the chat screen. If you hold microphone without this code it will also select the terms of use*/
}
